{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container" align="center">
        <div class="menus">
            <form action="" method="post"> {% csrf_token %}
                <label for="username">用户名称：</label>
                <input type="text" name="username" value="{{ username }}" id="username"> <br />
                <label for="password">用户密码：</label>
                <input type="password" name="password" value="" id="password"> <br />
                <input type="submit" value="登入">
            </form>
        </div>
    </div>
{% endblock %}