{% extends "base.html" %}
{% block title %}
    Comments
{% endblock %}

{% block content %}
    <div class="container">
        <div class="menus">
            <div class="col-md-6">
                <h2>{{ r.name }}的评论</h2>
                {% if r.comment_set.all %}
                    <p>目前共有{{ r.comment_set.all|length }}条评论</p>
                    <table align="center" width="400px;" cellspacing="10" border="8">
                        <tr>
                            <th>留言者</th>
                            <th>时间</th>
                            <th>评论</th>
                        </tr>
                    {% for c in r.comment_set.all %}
                        <tr>
                            <td> {{ c.visitor }} </td>
                            <td> {{ c.date_time | date:"F j, Y" }} </td>
                            <td> {{ c.content }} </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <p>无评论</p>
                {% endif %}

                <br /><br />
                {% if f.errors %}
                    <p style="color:red">
                        请根据提示重新填写表单
                    </p>
                {% endif %}
            </div>

        <br />
            <div class="col-md-6">
                <form action="" method="post">
{#                    {% csrf_token %}#}
                    <table cellspacing="10" border="8">
    {#                    {{ f.as_table }}#}
                        <tr>
                            <td> <label for="visitor">留言者：</label> </td>
{#                            <td> <input id="visitor" type="text" name="visitor" value="{{ visitor }}"> </td>#}
                              <td><textarea id="visitor" rows="1" cols="48" name="visitor">{{ user }}</textarea></td>
                        </tr>
                        <tr align="left">
                            <td> <label for="email">电子信箱：</label> </td>
                            <td> <input id="email" type="text" style="width:360px;height:30px;" name="email" value="{{ email }}"> </td>
                        </tr>
                        <tr>
                            <td> <label for="content">评论：</label> </td>
                            <td>
                                <textarea id="content" rows="10" cols="48" name="content">{{ content }}</textarea>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="给予评论">
                </form>
            </div>
        </div>
    </div>
 {% endblock %}